<html>
    <head> <title> Hello </title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <h1> First Page HBS</h1>
        <h1> {{name}}</h1>
        <p>{{title}}</p>
    </body>
</html>